.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-form {
  background-color: white;
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.auth-title {
  text-align: center;
  color: #1f118f;
  margin-bottom: 10px;
  font-size: 28px;
}

.auth-form img{
    width: 150px;
    align-items: center;
}

.auth-form input {
  padding: 14px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}

.auth-form input:focus {
  outline: none;
  border-color: #2575fc;
  box-shadow: 0 0 0 3px rgba(37, 117, 252, 0.2);
}

.auth-form button {
  background: #564081;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #1a5fd2;
}
